/* All elements with class="nav" */
.nav {
  background-color: #e8ded1;
  font-family: "Garamond";
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

/* All elements with class="left" */
.left {
  font-size: 36px;
}

/* All elements with class="right" */
.right {
  font-size: 30px;
  display: flex;
}

/* All elements with class="right-item" */
.right-item {
  margin-left: 30px;
}

.right-item:hover {
  color: #3C7D1C;
  cursor: pointer;
}

/* All elements with class="hero-image" */
.hero-image {
  width: 100%;
}

/* All elements with class="footer" */
.footer {
  margin-top: -5px;
  background-color: #e8ded1;
  font-family: "Garamond";
  font-weight: lighter;
  display: flex;
  padding: 10px;
}

/* All elements with class="footer-item" */
.footer-item {
  margin-left: 30px;
}

/* All elements with class="Experience" */
.Experience {
  margin-left: 10px;
}

.footer-item:hover {
  color: #3C7D1C;
  cursor: pointer;
}

.Experience:hover {
  color: #3C7D1C;
  cursor: pointer;
}